<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://elementstherevival.com/swagger/index.html</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>489a0e36-536b-47d2-90bc-680eb443af51</ProjectGuid>
    <MSDeployServiceURL>https://elementstherevival.com:8172/msdeploy.axd?site=elementstherevival.com</MSDeployServiceURL>
    <DeployIisAppPath>elementstherevival.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>element7</UserName>
    <Password>Wolfbane!1993</Password>
    <_SavePWD>true</_SavePWD>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
  </PropertyGroup>
</Project>